@media screen and (max-width: 990px) {
    .single_card {
        margin-bottom: 25px;

    }
}

.single_card span {
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
    margin-right: 5px;
}