.footersec_sec{
    margin-right: 50px;
    justify-content: left;
}
.footer-ul {
    justify-content: left;
    align-items: left;
}

.footer_container{
    display: flex;
    flex-direction: row;
}
.container.footer {
    /* margin: auto; */
    display: flow;
    /* flex-direction: ; */
 
} 




.findus {
    justify-content: flex-start;
    /* align-items:; */
    display: flex;
}

.footer_section {
    justify-content: flex-start;
    align-items: left;
    display: flex;
    margin-top: 10px;
}
@media screen and (max-width: 1182px) {
    .footer_container{
        display: flow;
        margin-bottom: 15px;
        /* flex-direction: column; */
    }
}


@media screen and (max-width: 990px) {
    .footer_container{
        display: flow;
        /* flex-direction: column; */
    }
    .container.footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        width: 65%;
    }

    .footer.footer_heading {
        font-size: 20px;
    }

    .row.footer_section {
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        margin-bottom: 30px;
        /* font-size: 13px; */
        align-items: self-start;
    }

    /* .last_col {
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    } */
}

@media screen and (min-width: 983px) {
    .footer {
        display: flex;
        flex-direction: row;
        /* align-items: center; */
        /* justify-content: space-between; */
        margin-top: 20px;
    }

    .footer_section {
        display: flex;
        /* flex-direction: row; */
        margin-top: 20px;
    }

}